<!DOCTYPE html>
<html>
  <head>
    <title>Alice's Resume</title> 
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Please Hire Me!</h1>

      </header> <!-- everything above this will appear on all the pages -->
      <main>{% block container %} {% endblock %}</main>
      <footer>
        <p>
          The source code for this app is
          <a href="https://github.com/dbdesign-students-fall2023/7-web-app-acho19/"
            >available on Github</a>.
        </p>
      </footer>
    </div>
  </body>
</html>
