{% extends 'base.html' %} {% block container %}
<h2>Update an Education</h2>
<p>Edit an education.</p>
<form method="POST" action="{{ url_for('edit_post', edit_type = 'education',mongoid=mongoid) }}" id = "form">
  <p>
    Education:
    <textarea id="education" name="education">{{doc.education}}</textarea>
  </p>
  <p>
    Start Year:
    <textarea id="start_year" name="start_year">{{doc.start_year}}</textarea>
  </p>
  <p>
    Start Month:
    <textarea id="start_month" name="start_month">{{doc.start_month}}</textarea>
  </p>
  <p>
    End Year:
    <textarea id="end_year" name="end_year">{{doc.end_year}}</textarea>
  </p>
  <p>
    End Month:
    <textarea id="end_month" name="end_month">{{doc.end_month}}</textarea>
  </p>
  <p>
    <a href="{{ url_for('education')}}">Cancel</a>
    <input type="submit" name="post-btn" value="Save" />
  </p>
</form>
{% endblock %}