{% extends 'base.html' %} {% block container %}
<h2>Update a Skill</h2>
<p>Edit a skill.</p>
<form method="POST" action="{{ url_for('edit_post', edit_type = 'skills',mongoid=mongoid) }}" id = "form">
  <p>
    Skills:
    <textarea id="skills" name="skills">{{doc.skills}}</textarea>
  </p>
  <p>
    Projects:
    <textarea id="projects" name="projects">{{doc.projects}}</textarea>
  </p>
  <p>
    <a href="{{ url_for('skills')}}">Cancel</a>
    <input type="submit" name="post-btn" value="Save" />
  </p>
</form>
{% endblock %}