{% extends 'base.html' %} {% block container %}
<h2>Update an Experience</h2>
<p>Edit an experience.</p>
<form method="POST" action="{{ url_for('edit_post', mongoid=mongoid) }}">
  <p>
    Company:
    <textarea id="company" name="company">{{doc.company}}</textarea>
  </p>
  <p>
    Experience:
    <textarea id="experience" name="experience">{{doc.experience}}</textarea>
  </p>
  <p>
    <a href="{{ url_for('experiences')}}">Cancel</a>
    <input type="submit" name="post-btn" value="Save" />
  </p>
</form>
{% endblock %}
