<!-- experiences: user inputted (my input) appear chronlogically -->

{% extends 'base.html' %}

{% block container %}
<h2>Welcome to my resume!</h2>
<p>
    <a href="{{ url_for('experiences')}}">Work Experiences</a>  |


    {% for doc in docs %}
    <div>
        <hr class="solid">
        <p class="post">
            Posted by Alice Cho at {{ doc.created_at.strftime("%H:%M on %d %B %Y") }}
            </br>
            <a href="{{ url_for('edit',mongoid=doc._id)}}">Edit</a> | <a href="{{ url_for('delete',mongoid=doc._id)}}">Delete</a>
            </br>
        </p>
        <p>
            Company: {{ doc.company }}
        </p>
        <p>
            Experience Received: {{ doc.experience }}
        </p>
        <p>
            Start Month & Year: {{ doc.start_month }} / {{ doc.start_year }}
        </p>
        <p>
            End Month & Year: {{ doc.end_month }} / {{ doc.end_year }}
        </p>
        </p>
            
    </div>
    {%endfor%}
</p>

<form method="POST" action="{{ url_for('create_post') }}" id = "form">
    <h2>Update your resume, Alice!</h2>
    <p>Company: <input type="text" id="company" name="company" /><br /></p>
    <p>
        Experience:
        <textarea type="text" id="experience" name="experience"></textarea>
    </p>
    <p>
        Start Month:
        <textarea type="text" id="start_month" name="start_month"></textarea>
    </p>    
    <p>
        Start Year:
        <textarea type="text" id="start_year" name="start_year"></textarea>
    </p>
    <p>
        End Month:
        <textarea type="text" id="end_month" name="end_month"></textarea>
    </p>
    <p>
        End Year:
        <textarea type="text" id="end_year" name="end_year"></textarea>
    </p>

    <p>
        <a href="{{ url_for('experiences')}}">Cancel</a>
        <input type="submit" name="post-btn" value="Post" />
    </p>
</form>



{% endblock %}