<!-- experiences: user inputted (my input) appear chronlogically -->

{% extends 'base.html' %}

{% block container %}
<h2>Welcome to my resume!</h2>
<p>
    <a href="{{ url_for('experiences')}}">Work Experiences</a> |
    <a href="{{ url_for('skills')}}">Skills</a> |
    <a href="{{ url_for('education')}}">Education</a> |
    {% for doc in docs %}
    <div>
        <hr class="solid">
        <p class="post">
            Posted by Alice Cho at {{ doc.created_at.strftime("%H:%M on %d %B %Y") }}
            </br>
            <a href="{{ url_for('edit',edit_type ='skills',mongoid=doc._id)}}">Edit</a> | <a href="{{ url_for('delete',mongoid=doc._id)}}">Delete</a>
            </br>
        </p>
        <p>
            Skills: {{ doc.skills }}
        </p>

        <p>
            Projects: {{ doc.projects }}
        </p>
            
    </div>
    {%endfor%}
</p>


<form method="POST" action="{{ url_for('create_post') }}"id = "form">
    <p>Skills: <input type="text" id="skills" name="skills" /><br/></p>
    <p>
        Projects:
        <textarea type="text" id="projects" name="projects"></textarea>
    </p>
    <p>
        <a href="{{ url_for('skills')}}">Cancel</a>
        <input type="submit" name="post-btn" value="Post" />
    </p>
</form>



{% endblock %}